@keyframes FadeUp {

    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero h1 {
    animation: FadeUp 1s ease;
}

.hero h2 {
    animation: FadeUp 1.4s ease;
}

.hero button {
    animation: FadeUp 1.8s ease;
}

@keyframes Float {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}